html {
  background-color: #EEEEEE;
}
#root {
  /* CV Dimensions */
  --cvWidth: 612px;
  --cvHeight: 792px;

  /* Sidebar / Main Content Dimensions */
    --sidebarWidth: 185px;
    --marginLeftMainContent: calc(var(--sidebarWidth) + 1px);
    --mainContentWidth: calc(var(--cvWidth) - var(--marginLeftMainContent));
    --mainContentPadding: 12px;
    --mainContentBlue: rgb(93, 157, 178);

    /* Sidebar Variables */
    --sidebarColor: #404099;
    --sidebarFormWidth: 150px;
    --editBackgroundColor: #82afb4;
    --sidebarSubcontentContainerWidth: 185px;
    --sidebarSubcontentContainerHeight: 185px;

}

/* Intial App Setup */
.App {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  background-color: #EEEEEE;
  margin: 0;
  padding: 1rem;
}

.app-header {
  margin: 0;
  padding: 0;
}

.cv-container {
  display: flex;
  border: 1px solid black;
  width: var(--cvWidth);
  height:  var(--cvHeight);
  background-color: white;
  margin: 0;
  padding: 0;
}

.edit {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  position: relative;
  top: -125px;
  left: -100px;
  z-index: 1;
  margin-bottom: -125px;
  margin-left: -150px;
}

.edit-main {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  position: relative;
  top: -125px;
  /* right: -100px; */
  z-index: 1;
  margin-bottom: -125px;
  /* margin-right: -150px; */
}

.editActive .edit{
  display: 'none';
}

.editInactive .edit{
  display: none;
}
.editActive .edit-main{
  display: 'none';
}

.editInactive .edit-main{
  display: none;
}


/* Sidebar */
.sidebar {
  width: var(--sidebarWidth);
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--sidebarColor);
  align-items: center;
  gap: 1.5rem;
}

/* Profile Picture */

.image-container {
  height: var(--sidebarSubcontentContainerHeight);
  width: var(--sidebarSubcontentContainerWidth);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-image{
  /* border: 5px solid red;
  border-radius: 25%; */
}
.image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* .image-edit {
  position: relative;
  top: -125px;
  z-index: 1;
  margin-bottom: -125px;
} */


/* sidebar subcontent */
h4{
  padding: 0;
  margin: 0;
}
.skills-header {
  border-bottom: 1px solid white;
}

.sidebar-subcontent {
  color: white;
  /* height: var(--sidebarSubcontentContainerHeight);
  width: var(--sidebarSubcontentContainerWidth); */
  text-align: left;
  min-width: var(--sidebarFormWidth);
}
/* technical skills */
.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Edit Forms */

.form-container {
  display: flex;
  flex-direction: column;
  background-color: var(--editBackgroundColor);
  padding: 1rem;
  border-radius: 12px;
}

.sidebar-form {
  max-width: var(--sidebarWidth);
}

.form-label {
  color: white;
  font-weight: bold;
  margin: 2.5px;
}

.form-input {
  border: 3px solid white;
  border-radius: 12px;
  padding: 5px;
  background-color: var(--editBackgroundColor);
  margin: 2.5px;
  color: white;
}

.form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button {
  background-color: white;
  color: var(--editBackgroundColor);
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
/* Main Content */
.content-container {
  /* margin-left: var(--marginLeftMainContent); */
  min-width: var(--mainContentWidth);
}


/* Title */
.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 12px 32px;
}
.title-name, .title-position {
  margin: 5px;
  padding: 0;
}

.title-name {
  font-size: 38px ;
}

.title-position {
  color: var(--mainContentBlue) ;
}

.break-line {
  width: 18%;
  border: 1px solid black;
  margin: 5px;
}



/* main section css */
.main-section-header {
  margin: 0;
  padding: 0 var(--mainContentPadding);
  color: var(--mainContentBlue);
}

.main-section-subHeader {
  margin: 0;
  padding: 0 var(--mainContentPadding);
  font-size: 14px;
}

.project-list {
  margin: 0;
  font-size: 13px;
}

.sub-project-container {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.main-content-subcontent {
  margin-bottom: 12px;
}


/* Instructions */
.instructions-container {
  width: 400px;
}
.instructions-header {
  padding: 0;
  font-size: 1rem;
}
.instructions-para {
  margin: 0;
  padding: 0;
}