#root {
  /* CV Dimensions */
  --cvWidth: 612px;
  --cvHeight: 792px;

  /* Sidebar / Main Content Dimensions */
    --sidebarWidth: 185px;
    --marginLeftMainContent: calc(var(--sidebarWidth) + 1px);
    --mainContentWidth: calc(var(--cvWidth) - var(--marginLeftMainContent));

    /* Sidebar Variables */
    --sidebarColor: #3b3bbb;
    --sidebarFormWidth: 150px;
    --editBackgroundColor: #82afb4;
    --sidebarSubcontentContainerWidth: 185px;
    --sidebarSubcontentContainerHeight: 185px;
    
}

/* Intial App Setup */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: coral;
  margin: 0;
  padding: 0;
}

.cv-container {
  display: flex;
  border: 1px solid black;
  width: var(--cvWidth);
  height:  var(--cvHeight);
  background-color: white;
  margin: 0;
  padding: 0;
}

.edit {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  position: relative;
  top: -125px;
  z-index: 1;
  margin-bottom: -125px;
}

.editActive .edit{
  display: 'none';
}

.editInactive .edit{
  display: none;
}

/* Sidebar */
.sidebar {
  width: var(--sidebarWidth);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--sidebarColor);
  align-items: center;
}

/* Profile Picture */

.image-container {
  height: var(--sidebarSubcontentContainerHeight);
  width: var(--sidebarSubcontentContainerWidth);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-image{
  /* border: 5px solid red;
  border-radius: 25%; */
}
.image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* .image-edit {
  position: relative;
  top: -125px;
  z-index: 1;
  margin-bottom: -125px;
} */


/* sidebar subcontent */
h4{
  padding: 0;
  margin: 0;
}

.sidebar-subcontent {
  color: white;
  /* height: var(--sidebarSubcontentContainerHeight);
  width: var(--sidebarSubcontentContainerWidth); */
}
/* technical skills */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Edit Forms */

.form-container {
  display: flex;
  flex-direction: column;
  background-color: var(--editBackgroundColor);
  padding: 1rem;
  border-radius: 12px;
}

.sidebar-form {
  max-width: var(--sidebarWidth);
}

.form-label {
  color: white;
  font-weight: bold;
  margin: 2.5px;
}

.form-input {
  border: 3px solid white;
  border-radius: 12px;
  padding: 5px;
  background-color: var(--editBackgroundColor);
  margin: 2.5px;
  color: white;
}

.form-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button {
  background-color: white;
  color: var(--editBackgroundColor);
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
/* Main Content */
.content-container {
  /* margin-left: var(--marginLeftMainContent); */
  border: 1px solid red;
  min-width: var(--mainContentWidth);
}


